.container {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  height: 100vh;
  width: 100vw;
  gap: 50px;
  background-color: #3767d6;
  color: white;
  text-align: start;
}

.input-text {
  outline: none;
  border: 2px solid #464646;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  color: white;
  height: 50vh;
  width: 40vw;
}

.output-text {
  background-color: #464646;
  color: white;
  text-align: start;
  border-radius: 5px;
  padding: 20px;
  height: 60vh;
  width: 35vw;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.569);
}
